<div class="row" style="height: 10%;"><app-header></app-header></div>
<div class="row" style="height: 80%;">
  <div id="formi" class="form-control mt-5">
    <h1 id="log" class="col mt-6">LOGIN</h1>
   
  
    <input type="email" class="form-control mb-3" id="email" placeholder="name@example.com" name="email"
      [(ngModel)]="email" />
  
    <input type="password" class="form-control mt-5" id="password" placeholder="Password" name="password"
      [(ngModel)]="password" />
  
    <div><button class="btn btn-success mt-5" (click)="checkLogin()">LOGIN</button></div>
  </div>
  <div>
    {{ message }}
    
  </div></div>
<div class="row" style="height: 10%;"><app-footer></app-footer></div>

