<div  class="row" style="height: 10%;">
    <app-header></app-header>
</div>
<div  class="row" style="height: 80%;">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
             <h2>PRODUCT <b>SERVICE</b></h2> 
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/ac.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>AC</h4>
                        <!-- <p class="item-price"><strike>$400.00</strike> <span>$369.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="ac()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/laptop.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>LAPTOP</h4>
                        <!-- <p class="item-price"><strike>$25.00</strike> <span>$23.99</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="laptop()" >BOOK</a>
                      </div>						
                    </div>
                  </div>		
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/fan.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>FAN</h4>
                        <!-- <p class="item-price"><strike>$899.00</strike> <span>$649.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="fan()" >BOOK</a>
                      </div>						
                    </div>
                  </div>								
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/fridge.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>FRIDGE</h4>
                        <!-- <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="fridge()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/micro.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>MICRO OVEN</h4>
                        <!-- <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="micro()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/mixy.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>MIXER</h4>
                        <!-- <p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary"onclick="mixer()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/mobile.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>MOBILE</h4>
                        <!-- <p class="item-price"><strike>$109.00</strike> <span>$99.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="mobile()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/pc.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>COMPUTER</h4>
                        <!-- <p class="item-price"><strike>$599.00</strike> <span>$569.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="computer()" >BOOK</a>
                      </div>						
                    </div>
                  </div>						
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/tv.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>TV</h4>
                        <!-- <p class="item-price"><strike>$369.00</strike> <span>$349.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="tv()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/smart.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>WATCH</h4>
                        <!-- <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="watch()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/speaker.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>SPEAKER</h4>
                        <!-- <p class="item-price"><strike>$450.00</strike> <span>$418.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="speaker()" >BOOK</a>
                      </div>						
                    </div>
                  </div>	
                  <div class="col-sm-3">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="../../../assets/product/taplet.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>TABLET</h4>
                        <!-- <p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p> -->
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <a href="#" class="btn btn-primary" onclick="tablet()" >BOOK</a>
                      </div>						
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          </div>
        </div>
      </div>


</div>
<div  class="row" style="height: 10%;">
    
<app-footer></app-footer>
</div>

