<div id="body">
<div>
  <app-header></app-header>
</div>
<div id="formi" >
  <h1 id="sign">SIGN-UP</h1>
  <div class="form-floating mb-3">
    <input type="email" class="form-control mb-3" id="name" placeholder="name@example.com" name="name"
      [(ngModel)]="name" />
    <label for="name">NAME </label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control mb-3" placeholder="name@example.com" name="email" [(ngModel)]="email" />
    <label for="email">EMAIL ADDRESS</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control mb-3" placeholder="Password" id="pass" name="password" [(ngModel)]="password" />
    <label for="password">PASSWORD</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control mb-3" placeholder="Confirm Password" name="password" id="passc" [(ngModel)]="confirmpassword" (keyup)="cpass()" />
    <label for="password">CONFIRM PASSWORD</label>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control mb-3" id="phone" placeholder="Phone number" name="phone" [(ngModel)]="phone"  />
    <label for="phone">PHONE-NUMBER</label>
  </div>
  <div>
    <input type="checkbox" style="margin-left: 50px" /><a href="" style="color: #000; text-decoration: none">
      I accecpt the terms and condition</a>
  </div>

  <div><button class="btn btn-success" (click)="registerUser()" id="regbtn" style="margin-left:140px;">Register</button></div>
  <p style="margin-left: 80px">
    <a style="color: rgb(5, 12, 62)" type="button" (click)="login() ">ALREADY I HAVE A ACCOUNT</a>
  
</div>
<div class="container"  id="otpdiv">
  <div class="row justify-content-md-center">
      <div class="col-md-4 text-center">
        <div class="row">
          <div class="col-sm-12 mt-5 bgWhite">
            <div class="title">
              VERIFY OTP
            </div>
            
            <form action="" class="col-5">
              <input class="form-control" type="number" id="verifyotp"name="verifyotp" style="width: 350px;margin-left: 30px;"  [(ngModel)]="verifyotp"  >
              
            </form>
            <hr class="mt-4">
            <button class='btn btn-primary btn-block mt-4 mb-4 customBtn' (click)="Verify()">Verify</button>
          </div>
        </div>
      </div>
  </div>
</div>


</div>
<div><app-footer></app-footer></div>
